body{
	font: 15px/1.5 Arial, Helvetica, Sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
	}
  header{
  background-color: #35424a;
  color: #ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom: #0082e6 4px solid;
}
.first{
	height: 50px;
  float: right;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
min-height: 8vh;
}

#branding{
  padding-left: 10px;
font-size:2.3em;
}
.highlight{
  color: #0082e6;
  font-weight:bolder;
}
/*NAV-LINKS*/
   .nav-links{
        list-style: none;
        margin: 0px;
        padding: 0px;
      }
  .nav-links li{
        float: left;
        width: 7em;
        height: 40px;
        background-color: #35424a;
        opacity: .8;
        line-height: 40px;
        text-align: center;
        
      }
  .nav-links li a{
    letter-spacing: 2px ;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: none;
      }
      .nav-links li:hover{
        -webkit-transition-duration: 0.4s; /* Safari */
         transition-duration: 0.4s;
         background-color: white;
      }
      ul li ul li{
        
        display: none;
      }
      ul li:hover .dropdown-links li{
      	cursor: pointer;
        display: block;
        width:200px;
      }

      h1
  {
     text-transform: uppercase;
     letter-spacing: 3px;
     margin: 0px;
     padding: 0px 0px 20px;
     text-align: center;
     font-size: 20px;
  }
.loginbox{
  width: 320px;
  height:460px;
  background-color: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 2%;
}
.loginbox p
  {
     margin: 0;
     padding: 0;
     font-weight: bold;
  }

.loginbox input
  {
      width: 100%;
      margin-bottom: 20px;
  }

.loginbox input[type="text"],input[type="password"]
  {
    border: none;
    border-bottom:1px solid #008ae6; 
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }

.loginbox button[type="submit"]
  {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    background: white;
    font-size: 18px;
    border-radius: 20px;
  }

.loginbox button[type="submit"]:hover
  {
    cursor: pointer;
    background:#008ae6;
    color: black;
  }

.loginbox a
  {
    text-decoration: none;
    line-height: 20px;
    font-size: 15px;
    color: #008ae6;
  }

.loginbox a:hover{
    cursor: pointer;
    color: white;
  }
/*login dark-section*/
.pop-up{
 width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.7);
position: absolute;
top: 0;
display:none;
justify-content: center;
align-items: center; 
}
.signpop-up{
 width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.7);
position: absolute;
top: 0;
display:none;
justify-content: center;
align-items: center; 
}
.close1-logo{
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
.close2-logo{
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
.close-img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 1px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 70%;
}
.close1-logo:hover .tooltiptext {
    visibility: visible;
}
.close2-logo:hover .tooltiptext {
    visibility: visible;
}
/*loginbox-logo image section*/
.logo-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

#showcase{
  min-height: 400px;
  background:url(sunset-green.jpg) no-repeat 0;
  background-size: cover;
  text-align: center;
  color: #fff;
}
#showcase h1{
  font-size: 55px;
  padding: 15px;
}
#showcase p{
  font-size: 20px;
}
#newsletter{
  padding: 15px;
  color: #fff;
  background-color: #35424a; 
}
#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
.button-1{
  height: 38px;
  background-color: #0082e6;
  border:none;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}
#boxes{
  margin-top: 20px;
}
#boxes .box{
  float: left;
  width: 30%;
  text-align: center;
  padding-left: 10px;
}
#boxes .box img{
  width: 90px;
  border-radius: 50%;
}
footer{
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background-color: #0082e6;
  text-align: center;
}
@media(max-width: 768px){
  header #branding,header nav,header nav li,#newsletter h1,#newsletter form,#boxes .box{
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top: 40px;
  }
  #newsletter button{
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}